<!-- ==================================    NAVIGATION BAR    ==============================================================-->
<nav class="nav-bar bg-white">
    <div class="container-fluid ">
        <div class="row  g-0 d-flex flex-row justify-content-between align-items-center">
            <div class="col-9 nav-items">
                <ul class="d-flex menu ">
                    <li class=" grouped ">
                        <a href="#">
                            <!-- <i class=" fa fa-reorder ps-1"></i> -->
                            <img src="assets/images/nav icons/grouped.png" class="p-1" loading="lazy"  alt="">
                            دسته‌بندی کالاها
                        </a>
                        <section class="sub-menu categorization">
                            <ul class="sub-menu-container">
                                <li>
                                    <span class="menu-icon laptop-b"></span>
                                    کالای دیجیتال
                                    <section class="sub-menu-container">
                                        <div class="row">
                                            <div class="col-12 padd">
                                                <a href="#" >همه دسته‌بندی‌های کالای دیجیتال</a>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >لوازم جانبی گوشی</a><br>
                                                <a href="#">کیف و کاور گوشی</a><br>
                                                <a href="#">پاور بانک (شارژر همراه)</a><br>
                                                <a href="#">پایه نگهدارنده گوشی</a><br>
                                                <a href="#" >گوشی موبایل</a><br>
                                                <a href="#">سامسونگ</a><br>
                                                <a href="#">هواوی</a><br>
                                                <a href="#">اپل</a><br>
                                                <a href="#">شیائومی</a><br>
                                                <a href="#">آنر</a><br>
                                                <a href="#">نوکیا</a><br>
                                                <a href="#" >واقعیت مجازی</a><br>
                                                <a href="#" >مچ‌بند و ساعت هوشمند</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">شیائومی</a><br>
                                                <a href="#">کیف و کاور گوشی</a><br>
                                                <a href="#" >واقعیت مجازی</a><br>
                                                <a href="#" >مچ‌بند و ساعت هوشمند</a><br>
                                                <a href="#">اپل</a><br>
                                                <a href="#">پاور بانک (شارژر همراه)</a><br>
                                                <a href="#">پایه نگهدارنده گوشی</a><br>
                                                <a href="#">آنر</a><br>
                                                <a href="#">نوکیا</a><br>
                                                <a href="#">هواوی</a><br>
                                                <a href="#" >لوازم جانبی گوشی</a><br>
                                                <a href="#" >گوشی موبایل</a><br>
                                                <a href="#">سامسونگ</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >مچ‌بند و ساعت هوشمند</a><br>
                                                <a href="#">کیف و کاور گوشی</a><br>
                                                <a href="#" >واقعیت مجازی</a><br>
                                                <a href="#" >گوشی موبایل</a><br>
                                                <a href="#">شیائومی</a><br>
                                                <a href="#">پاور بانک (شارژر همراه)</a><br>
                                                <a href="#">سامسونگ</a><br>
                                                <a href="#">اپل</a><br>
                                                <a href="#" >لوازم جانبی گوشی</a><br>
                                                <a href="#">هواوی</a><br>
                                                <a href="#">پایه نگهدارنده گوشی</a><br>
                                                <a href="#">آنر</a><br>
                                                <a href="#">نوکیا</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >مچ‌بند و ساعت هوشمند</a><br>
                                                <a href="#">پایه نگهدارنده گوشی</a><br>
                                                <a href="#">سامسونگ</a><br>
                                                <a href="#" >گوشی موبایل</a><br>
                                                <a href="#" >لوازم جانبی گوشی</a><br>
                                                <a href="#">کیف و کاور گوشی</a><br>
                                                <a href="#">آنر</a><br>
                                                <a href="#" >واقعیت مجازی</a><br>
                                                <a href="#">شیائومی</a><br>
                                                <a href="#">نوکیا</a><br>
                                                <a href="#">هواوی</a><br>
                                                <a href="#">اپل</a><br>
                                                <a href="#">پاور بانک (شارژر همراه)</a><br>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                                <li>
                                    <span class="menu-icon heart-b"></span>
                                    آرایشی، بهداشتی و سلامت
                                    <section class="sub-menu-container">
                                        <div class="row">
                                            <div class="col-12 padd">
                                                <a href="#" >همه دسته‌بندی‌های آرایشی و بهداشتی</a>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >لوازم آرایشی</a><br>
                                                <a href="#">آرایش چشم و ابرو</a><br>
                                                <a href="#">آرایش لب</a><br>
                                                <a href="#">آرایش صورت</a><br>
                                                <a href="#">مواد آرایش مو</a><br>
                                                <a href="#">سنگ پا، بهداشت و زیبایی ناخن</a><br>
                                                <a href="#">تجهیزات جانبی آرایشی</a><br>
                                                <a href="#" >لوازم بهداشتی</a><br>
                                                <a href="#">کرم و مراقبت پوست</a><br>
                                                <a href="#">شامپو و مراقبت مو</a><br>
                                                <a href="#">بهداشت دهان و دندان</a><br>
                                                <a href="#">بهداشت و مراقبت بدن</a><br>
                                                <a href="#">ضد تعریق</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >لوازم بهداشتی</a><br>
                                                <a href="#">سنگ پا، بهداشت و زیبایی ناخن</a><br>
                                                <a href="#">تجهیزات جانبی آرایشی</a><br>
                                                <a href="#">شامپو و مراقبت مو</a><br>
                                                <a href="#">بهداشت و مراقبت بدن</a><br>
                                                <a href="#">آرایش صورت</a><br>
                                                <a href="#">بهداشت دهان و دندان</a><br>
                                                <a href="#" >لوازم آرایشی</a><br>
                                                <a href="#">مواد آرایش مو</a><br>
                                                <a href="#">ضد تعریق</a><br>
                                                <a href="#">آرایش چشم و ابرو</a><br>
                                                <a href="#">آرایش لب</a><br>
                                                <a href="#">کرم و مراقبت پوست</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">تجهیزات جانبی آرایشی</a><br>
                                                <a href="#" >لوازم بهداشتی</a><br>
                                                <a href="#">شامپو و مراقبت مو</a><br>
                                                <a href="#">آرایش لب</a><br>
                                                <a href="#" >لوازم آرایشی</a><br>
                                                <a href="#">ضد تعریق</a><br>
                                                <a href="#">آرایش صورت</a><br>
                                                <a href="#">مواد آرایش مو</a><br>
                                                <a href="#">آرایش چشم و ابرو</a><br>
                                                <a href="#">کرم و مراقبت پوست</a><br>
                                                <a href="#">بهداشت و مراقبت بدن</a><br>
                                                <a href="#">سنگ پا، بهداشت و زیبایی ناخن</a><br>
                                                <a href="#">بهداشت دهان و دندان</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">تجهیزات جانبی آرایشی</a><br>
                                                <a href="#" >لوازم بهداشتی</a><br>
                                                <a href="#">شامپو و مراقبت مو</a><br>
                                                <a href="#">آرایش لب</a><br>
                                                <a href="#" >لوازم آرایشی</a><br>
                                                <a href="#">ضد تعریق</a><br>
                                                <a href="#">آرایش صورت</a><br>
                                                <a href="#">مواد آرایش مو</a><br>
                                                <a href="#">آرایش چشم و ابرو</a><br>
                                                <a href="#">کرم و مراقبت پوست</a><br>
                                                <a href="#">بهداشت و مراقبت بدن</a><br>
                                                <a href="#">سنگ پا، بهداشت و زیبایی ناخن</a><br>
                                                <a href="#">بهداشت دهان و دندان</a><br>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                                <li>
                                    <span class="menu-icon tools-b"></span>
                                    خودرو، ابزار و اداری
                                    <section class="sub-menu-container">
                                        <div class="row">
                                            <div class="col-12 padd">
                                                <a href="#" >همه دسته‌بندی‌های وسایل نقلیه و صنعتی</a>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >خودرو های ایرانی و خارجی</a><br>
                                                <a href="#" >لوازم جانبی خودرو</a><br>
                                                <a href="#">لوازم تزئینی</a><br>
                                                <a href="#">سیستم صوتی و تصویری</a><br>
                                                <a href="#">دزدگیر، قفل فرمان و پدال</a><br>
                                                <a href="#" >لوازم مصرفی خودرو</a><br>
                                                <a href="#">یدکی، لاستیک، لامپ و چراغ</a><br>
                                                <a href="#">مکمل سوخت و روغن</a><br>
                                                <a href="#">انواع فیلتر</a><br>
                                                <a href="#">روغن موتور و ضد یخ</a><br>
                                                <a href="#" >موتور سیکلت</a><br>
                                                <a href="#" >کلاه و لوازم جانبی موتور</a><br>
                                                <a href="#" >لوازم مصرفی و یدکی موتور</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">مکمل سوخت و روغن</a><br>
                                                <a href="#">سیستم صوتی و تصویری</a><br>
                                                <a href="#" >لوازم مصرفی خودرو</a><br>
                                                <a href="#">دزدگیر، قفل فرمان و پدال</a><br>
                                                <a href="#">لوازم تزئینی</a><br>
                                                <a href="#" >خودرو های ایرانی و خارجی</a><br>
                                                <a href="#" >کلاه و لوازم جانبی موتور</a><br>
                                                <a href="#" >موتور سیکلت</a><br>
                                                <a href="#">انواع فیلتر</a><br>
                                                <a href="#">روغن موتور و ضد یخ</a><br>
                                                <a href="#" >لوازم جانبی خودرو</a><br>
                                                <a href="#">یدکی، لاستیک، لامپ و چراغ</a><br>
                                                <a href="#" >لوازم مصرفی و یدکی موتور</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >لوازم جانبی خودرو</a><br>
                                                <a href="#">دزدگیر، قفل فرمان و پدال</a><br>
                                                <a href="#" >لوازم مصرفی خودرو</a><br>
                                                <a href="#">مکمل سوخت و روغن</a><br>
                                                <a href="#" >لوازم مصرفی و یدکی موتور</a><br>
                                                <a href="#" >خودرو های ایرانی و خارجی</a><br>
                                                <a href="#" >موتور سیکلت</a><br>
                                                <a href="#">لوازم تزئینی</a><br>
                                                <a href="#">روغن موتور و ضد یخ</a><br>
                                                <a href="#">یدکی، لاستیک، لامپ و چراغ</a><br>
                                                <a href="#">انواع فیلتر</a><br>
                                                <a href="#" >کلاه و لوازم جانبی موتور</a><br>
                                                <a href="#">سیستم صوتی و تصویری</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >خودرو های ایرانی و خارجی</a><br>
                                                <a href="#" >موتور سیکلت</a><br>
                                                <a href="#" >لوازم جانبی خودرو</a><br>
                                                <a href="#">سیستم صوتی و تصویری</a><br>
                                                <a href="#">یدکی، لاستیک، لامپ و چراغ</a><br>
                                                <a href="#">انواع فیلتر</a><br>
                                                <a href="#" >کلاه و لوازم جانبی موتور</a><br>
                                                <a href="#" >لوازم مصرفی خودرو</a><br>
                                                <a href="#">لوازم تزئینی</a><br>
                                                <a href="#">مکمل سوخت و روغن</a><br>
                                                <a href="#">دزدگیر، قفل فرمان و پدال</a><br>
                                                <a href="#" >لوازم مصرفی و یدکی موتور</a><br>
                                                <a href="#">روغن موتور و ضد یخ</a><br>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                                <li>
                                    <span class="menu-icon tools-b"></span>
                                    مد و پوشاک
                                    <section class="sub-menu-container">
                                        <div class="row">
                                            <div class="col-12 padd">
                                                <a href="#" >همه دسته‌بندی های مد و پوشاک</a>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >مردانه</a><br>
                                                <a href="#" >لباس مردانه</a><br>
                                                <a href="#">تی شرت و پولو شرت</a><br>
                                                <a href="#">پیراهن</a><br>
                                                <a href="#">شلوار</a><br>
                                                <a href="#">لباس زیر</a><br>
                                                <a href="#" >کفش مردانه</a><br>
                                                <a href="#">کفش روزمره</a><br>
                                                <a href="#">کفش رسمی</a><br>
                                                <a href="#" >اکسسوری مردانه</a><br>
                                                <a href="#">ساعت</a><br>
                                                <a href="#">کیف</a><br>
                                                <a href="#">کمربند</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">پیراهن</a><br>
                                                <a href="#">کیف</a><br>
                                                <a href="#" >مردانه</a><br>
                                                <a href="#">کمربند</a><br>
                                                <a href="#">کفش رسمی</a><br>
                                                <a href="#" >لباس مردانه</a><br>
                                                <a href="#">لباس زیر</a><br>
                                                <a href="#">ساعت</a><br>
                                                <a href="#">شلوار</a><br>
                                                <a href="#" >کفش مردانه</a><br>
                                                <a href="#">تی شرت و پولو شرت</a><br>
                                                <a href="#" >اکسسوری مردانه</a><br>
                                                <a href="#">کفش روزمره</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">کیف</a><br>
                                                <a href="#">ساعت</a><br>
                                                <a href="#">کمربند</a><br>
                                                <a href="#">کفش روزمره</a><br>
                                                <a href="#" >لباس مردانه</a><br>
                                                <a href="#">لباس زیر</a><br>
                                                <a href="#">تی شرت و پولو شرت</a><br>
                                                <a href="#" >اکسسوری مردانه</a><br>
                                                <a href="#" >مردانه</a><br>
                                                <a href="#">پیراهن</a><br>
                                                <a href="#" >کفش مردانه</a><br>
                                                <a href="#">شلوار</a><br>
                                                <a href="#">کفش رسمی</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">کفش رسمی</a><br>
                                                <a href="#">کفش روزمره</a><br>
                                                <a href="#" >کفش مردانه</a><br>
                                                <a href="#">کمربند</a><br>
                                                <a href="#" >اکسسوری مردانه</a><br>
                                                <a href="#">تی شرت و پولو شرت</a><br>
                                                <a href="#" >مردانه</a><br>
                                                <a href="#">لباس زیر</a><br>
                                                <a href="#">کیف</a><br>
                                                <a href="#">شلوار</a><br>
                                                <a href="#">پیراهن</a><br>
                                                <a href="#" >لباس مردانه</a><br>
                                                <a href="#">ساعت</a><br>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                                <li>
                                    <span class="menu-icon sofa-b"></span>
                                    خانه و آشپزخانه
                                    <section class="sub-menu-container">
                                        <div class="row">
                                            <div class="col-12 padd">
                                                <a href="#" >همه دسته‌بندی های خانه و آشپزخانه</a>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >مردانه</a><br>
                                                <a href="#" >لباس مردانه</a><br>
                                                <a href="#">تی شرت و پولو شرت</a><br>
                                                <a href="#">پیراهن</a><br>
                                                <a href="#">شلوار</a><br>
                                                <a href="#">لباس زیر</a><br>
                                                <a href="#" >کفش مردانه</a><br>
                                                <a href="#">کفش روزمره</a><br>
                                                <a href="#">کفش رسمی</a><br>
                                                <a href="#" >اکسسوری مردانه</a><br>
                                                <a href="#">ساعت</a><br>
                                                <a href="#">کیف</a><br>
                                                <a href="#">کمربند</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">پیراهن</a><br>
                                                <a href="#">کیف</a><br>
                                                <a href="#" >مردانه</a><br>
                                                <a href="#">کمربند</a><br>
                                                <a href="#">کفش رسمی</a><br>
                                                <a href="#" >لباس مردانه</a><br>
                                                <a href="#">لباس زیر</a><br>
                                                <a href="#">ساعت</a><br>
                                                <a href="#">شلوار</a><br>
                                                <a href="#" >کفش مردانه</a><br>
                                                <a href="#">تی شرت و پولو شرت</a><br>
                                                <a href="#" >اکسسوری مردانه</a><br>
                                                <a href="#">کفش روزمره</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">کیف</a><br>
                                                <a href="#">ساعت</a><br>
                                                <a href="#">کمربند</a><br>
                                                <a href="#">کفش روزمره</a><br>
                                                <a href="#" >لباس مردانه</a><br>
                                                <a href="#">لباس زیر</a><br>
                                                <a href="#">تی شرت و پولو شرت</a><br>
                                                <a href="#" >اکسسوری مردانه</a><br>
                                                <a href="#" >مردانه</a><br>
                                                <a href="#">پیراهن</a><br>
                                                <a href="#" >کفش مردانه</a><br>
                                                <a href="#">شلوار</a><br>
                                                <a href="#">کفش رسمی</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">کفش رسمی</a><br>
                                                <a href="#">کفش روزمره</a><br>
                                                <a href="#" >کفش مردانه</a><br>
                                                <a href="#">کمربند</a><br>
                                                <a href="#" >اکسسوری مردانه</a><br>
                                                <a href="#">تی شرت و پولو شرت</a><br>
                                                <a href="#" >مردانه</a><br>
                                                <a href="#">لباس زیر</a><br>
                                                <a href="#">کیف</a><br>
                                                <a href="#">شلوار</a><br>
                                                <a href="#">پیراهن</a><br>
                                                <a href="#" >لباس مردانه</a><br>
                                                <a href="#">ساعت</a><br>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                                <li>
                                    <span class="menu-icon book-b"></span>
                                    کتاب، لوازم تحریر و هنر
                                    <section class="sub-menu-container">
                                        <div class="row">
                                            <div class="col-12 padd">
                                                <a href="#" >همه دسته‌بندی‌های کتاب، لوازم تحریر و هنر</a>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >خودرو های ایرانی و خارجی</a><br>
                                                <a href="#" >لوازم جانبی خودرو</a><br>
                                                <a href="#">لوازم تزئینی</a><br>
                                                <a href="#">سیستم صوتی و تصویری</a><br>
                                                <a href="#">دزدگیر، قفل فرمان و پدال</a><br>
                                                <a href="#" >لوازم مصرفی خودرو</a><br>
                                                <a href="#">یدکی، لاستیک، لامپ و چراغ</a><br>
                                                <a href="#">مکمل سوخت و روغن</a><br>
                                                <a href="#">انواع فیلتر</a><br>
                                                <a href="#">روغن موتور و ضد یخ</a><br>
                                                <a href="#" >موتور سیکلت</a><br>
                                                <a href="#" >کلاه و لوازم جانبی موتور</a><br>
                                                <a href="#" >لوازم مصرفی و یدکی موتور</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">مکمل سوخت و روغن</a><br>
                                                <a href="#">سیستم صوتی و تصویری</a><br>
                                                <a href="#" >لوازم مصرفی خودرو</a><br>
                                                <a href="#">دزدگیر، قفل فرمان و پدال</a><br>
                                                <a href="#">لوازم تزئینی</a><br>
                                                <a href="#" >خودرو های ایرانی و خارجی</a><br>
                                                <a href="#" >کلاه و لوازم جانبی موتور</a><br>
                                                <a href="#" >موتور سیکلت</a><br>
                                                <a href="#">انواع فیلتر</a><br>
                                                <a href="#">روغن موتور و ضد یخ</a><br>
                                                <a href="#" >لوازم جانبی خودرو</a><br>
                                                <a href="#">یدکی، لاستیک، لامپ و چراغ</a><br>
                                                <a href="#" >لوازم مصرفی و یدکی موتور</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >لوازم جانبی خودرو</a><br>
                                                <a href="#">دزدگیر، قفل فرمان و پدال</a><br>
                                                <a href="#" >لوازم مصرفی خودرو</a><br>
                                                <a href="#">مکمل سوخت و روغن</a><br>
                                                <a href="#" >لوازم مصرفی و یدکی موتور</a><br>
                                                <a href="#" >خودرو های ایرانی و خارجی</a><br>
                                                <a href="#" >موتور سیکلت</a><br>
                                                <a href="#">لوازم تزئینی</a><br>
                                                <a href="#">روغن موتور و ضد یخ</a><br>
                                                <a href="#">یدکی، لاستیک، لامپ و چراغ</a><br>
                                                <a href="#">انواع فیلتر</a><br>
                                                <a href="#" >کلاه و لوازم جانبی موتور</a><br>
                                                <a href="#">سیستم صوتی و تصویری</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >خودرو های ایرانی و خارجی</a><br>
                                                <a href="#" >موتور سیکلت</a><br>
                                                <a href="#" >لوازم جانبی خودرو</a><br>
                                                <a href="#">سیستم صوتی و تصویری</a><br>
                                                <a href="#">یدکی، لاستیک، لامپ و چراغ</a><br>
                                                <a href="#">انواع فیلتر</a><br>
                                                <a href="#" >کلاه و لوازم جانبی موتور</a><br>
                                                <a href="#" >لوازم مصرفی خودرو</a><br>
                                                <a href="#">لوازم تزئینی</a><br>
                                                <a href="#">مکمل سوخت و روغن</a><br>
                                                <a href="#">دزدگیر، قفل فرمان و پدال</a><br>
                                                <a href="#" >لوازم مصرفی و یدکی موتور</a><br>
                                                <a href="#">روغن موتور و ضد یخ</a><br>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                                <li>
                                    <span class="menu-icon baby-b"></span>
                                    اسباب‌بازی، کودک و نوزاد
                                    <section class="sub-menu-container">
                                        <div class="row">
                                            <div class="col-12 padd">
                                                <a href="#" >همه دسته‌بندی‌های اسباب بازی و کودک</a>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >لوازم جانبی گوشی</a><br>
                                                <a href="#">کیف و کاور گوشی</a><br>
                                                <a href="#">پاور بانک (شارژر همراه)</a><br>
                                                <a href="#">پایه نگهدارنده گوشی</a><br>
                                                <a href="#" >گوشی موبایل</a><br>
                                                <a href="#">سامسونگ</a><br>
                                                <a href="#">هواوی</a><br>
                                                <a href="#">اپل</a><br>
                                                <a href="#">شیائومی</a><br>
                                                <a href="#">آنر</a><br>
                                                <a href="#">نوکیا</a><br>
                                                <a href="#" >واقعیت مجازی</a><br>
                                                <a href="#" >مچ‌بند و ساعت هوشمند</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">شیائومی</a><br>
                                                <a href="#">کیف و کاور گوشی</a><br>
                                                <a href="#" >واقعیت مجازی</a><br>
                                                <a href="#" >مچ‌بند و ساعت هوشمند</a><br>
                                                <a href="#">اپل</a><br>
                                                <a href="#">پاور بانک (شارژر همراه)</a><br>
                                                <a href="#">پایه نگهدارنده گوشی</a><br>
                                                <a href="#">آنر</a><br>
                                                <a href="#">نوکیا</a><br>
                                                <a href="#">هواوی</a><br>
                                                <a href="#" >لوازم جانبی گوشی</a><br>
                                                <a href="#" >گوشی موبایل</a><br>
                                                <a href="#">سامسونگ</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >مچ‌بند و ساعت هوشمند</a><br>
                                                <a href="#">کیف و کاور گوشی</a><br>
                                                <a href="#" >واقعیت مجازی</a><br>
                                                <a href="#" >گوشی موبایل</a><br>
                                                <a href="#">شیائومی</a><br>
                                                <a href="#">پاور بانک (شارژر همراه)</a><br>
                                                <a href="#">سامسونگ</a><br>
                                                <a href="#">اپل</a><br>
                                                <a href="#" >لوازم جانبی گوشی</a><br>
                                                <a href="#">هواوی</a><br>
                                                <a href="#">پایه نگهدارنده گوشی</a><br>
                                                <a href="#">آنر</a><br>
                                                <a href="#">نوکیا</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >مچ‌بند و ساعت هوشمند</a><br>
                                                <a href="#">پایه نگهدارنده گوشی</a><br>
                                                <a href="#">سامسونگ</a><br>
                                                <a href="#" >گوشی موبایل</a><br>
                                                <a href="#" >لوازم جانبی گوشی</a><br>
                                                <a href="#">کیف و کاور گوشی</a><br>
                                                <a href="#">آنر</a><br>
                                                <a href="#" >واقعیت مجازی</a><br>
                                                <a href="#">شیائومی</a><br>
                                                <a href="#">نوکیا</a><br>
                                                <a href="#">هواوی</a><br>
                                                <a href="#">اپل</a><br>
                                                <a href="#">پاور بانک (شارژر همراه)</a><br>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                                <li>
                                    <span class="menu-icon sports-b"></span>
                                    ورزش و سفر
                                    <section class="sub-menu-container">
                                        <div class="row">
                                            <div class="col-12 padd">
                                                <a href="#" >همه دسته‌بندی‌های ورزش و سفر</a>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >لوازم آرایشی</a><br>
                                                <a href="#">آرایش چشم و ابرو</a><br>
                                                <a href="#">آرایش لب</a><br>
                                                <a href="#">آرایش صورت</a><br>
                                                <a href="#">مواد آرایش مو</a><br>
                                                <a href="#">سنگ پا، بهداشت و زیبایی ناخن</a><br>
                                                <a href="#">تجهیزات جانبی آرایشی</a><br>
                                                <a href="#" >لوازم بهداشتی</a><br>
                                                <a href="#">کرم و مراقبت پوست</a><br>
                                                <a href="#">شامپو و مراقبت مو</a><br>
                                                <a href="#">بهداشت دهان و دندان</a><br>
                                                <a href="#">بهداشت و مراقبت بدن</a><br>
                                                <a href="#">ضد تعریق</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >لوازم بهداشتی</a><br>
                                                <a href="#">سنگ پا، بهداشت و زیبایی ناخن</a><br>
                                                <a href="#">تجهیزات جانبی آرایشی</a><br>
                                                <a href="#">شامپو و مراقبت مو</a><br>
                                                <a href="#">بهداشت و مراقبت بدن</a><br>
                                                <a href="#">آرایش صورت</a><br>
                                                <a href="#">بهداشت دهان و دندان</a><br>
                                                <a href="#" >لوازم آرایشی</a><br>
                                                <a href="#">مواد آرایش مو</a><br>
                                                <a href="#">ضد تعریق</a><br>
                                                <a href="#">آرایش چشم و ابرو</a><br>
                                                <a href="#">آرایش لب</a><br>
                                                <a href="#">کرم و مراقبت پوست</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">تجهیزات جانبی آرایشی</a><br>
                                                <a href="#" >لوازم بهداشتی</a><br>
                                                <a href="#">شامپو و مراقبت مو</a><br>
                                                <a href="#">آرایش لب</a><br>
                                                <a href="#" >لوازم آرایشی</a><br>
                                                <a href="#">ضد تعریق</a><br>
                                                <a href="#">آرایش صورت</a><br>
                                                <a href="#">مواد آرایش مو</a><br>
                                                <a href="#">آرایش چشم و ابرو</a><br>
                                                <a href="#">کرم و مراقبت پوست</a><br>
                                                <a href="#">بهداشت و مراقبت بدن</a><br>
                                                <a href="#">سنگ پا، بهداشت و زیبایی ناخن</a><br>
                                                <a href="#">بهداشت دهان و دندان</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">تجهیزات جانبی آرایشی</a><br>
                                                <a href="#" >لوازم بهداشتی</a><br>
                                                <a href="#">شامپو و مراقبت مو</a><br>
                                                <a href="#">آرایش لب</a><br>
                                                <a href="#" >لوازم آرایشی</a><br>
                                                <a href="#">ضد تعریق</a><br>
                                                <a href="#">آرایش صورت</a><br>
                                                <a href="#">مواد آرایش مو</a><br>
                                                <a href="#">آرایش چشم و ابرو</a><br>
                                                <a href="#">کرم و مراقبت پوست</a><br>
                                                <a href="#">بهداشت و مراقبت بدن</a><br>
                                                <a href="#">سنگ پا، بهداشت و زیبایی ناخن</a><br>
                                                <a href="#">بهداشت دهان و دندان</a><br>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                                <li>
                                    <span class="menu-icon food-b"></span>
                                    خوردنی و آشامیدنی
                                    <section class="sub-menu-container">
                                        <div class="row">
                                            <div class="col-12 padd">
                                                <a href="#" >همه دسته‌بندی های خوردنی و آشامیدنی</a>
                                            </div>
                                            <div class="col-3">
                                                <a href="#" >مردانه</a><br>
                                                <a href="#" >لباس مردانه</a><br>
                                                <a href="#">تی شرت و پولو شرت</a><br>
                                                <a href="#">پیراهن</a><br>
                                                <a href="#">شلوار</a><br>
                                                <a href="#">لباس زیر</a><br>
                                                <a href="#" >کفش مردانه</a><br>
                                                <a href="#">کفش روزمره</a><br>
                                                <a href="#">کفش رسمی</a><br>
                                                <a href="#" >اکسسوری مردانه</a><br>
                                                <a href="#">ساعت</a><br>
                                                <a href="#">کیف</a><br>
                                                <a href="#">کمربند</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">پیراهن</a><br>
                                                <a href="#">کیف</a><br>
                                                <a href="#" >مردانه</a><br>
                                                <a href="#">کمربند</a><br>
                                                <a href="#">کفش رسمی</a><br>
                                                <a href="#" >لباس مردانه</a><br>
                                                <a href="#">لباس زیر</a><br>
                                                <a href="#">ساعت</a><br>
                                                <a href="#">شلوار</a><br>
                                                <a href="#" >کفش مردانه</a><br>
                                                <a href="#">تی شرت و پولو شرت</a><br>
                                                <a href="#" >اکسسوری مردانه</a><br>
                                                <a href="#">کفش روزمره</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">کیف</a><br>
                                                <a href="#">ساعت</a><br>
                                                <a href="#">کمربند</a><br>
                                                <a href="#">کفش روزمره</a><br>
                                                <a href="#" >لباس مردانه</a><br>
                                                <a href="#">لباس زیر</a><br>
                                                <a href="#">تی شرت و پولو شرت</a><br>
                                                <a href="#" >اکسسوری مردانه</a><br>
                                                <a href="#" >مردانه</a><br>
                                                <a href="#">پیراهن</a><br>
                                                <a href="#" >کفش مردانه</a><br>
                                                <a href="#">شلوار</a><br>
                                                <a href="#">کفش رسمی</a><br>
                                            </div>
                                            <div class="col-3">
                                                <a href="#">کفش رسمی</a><br>
                                                <a href="#">کفش روزمره</a><br>
                                                <a href="#" >کفش مردانه</a><br>
                                                <a href="#">کمربند</a><br>
                                                <a href="#" >اکسسوری مردانه</a><br>
                                                <a href="#">تی شرت و پولو شرت</a><br>
                                                <a href="#" >مردانه</a><br>
                                                <a href="#">لباس زیر</a><br>
                                                <a href="#">کیف</a><br>
                                                <a href="#">شلوار</a><br>
                                                <a href="#">پیراهن</a><br>
                                                <a href="#" >لباس مردانه</a><br>
                                                <a href="#">ساعت</a><br>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                            </ul>
                        </section>
                    </li>
                    <li class="super-market-li "><a href="#">
                            <!-- <i class=" fa fa-reorder ps-1"></i> -->
                            <img src="assets/images/nav icons/super.png" loading="lazy"  alt="">
                            سوپر مارکت
                        </a>
                    </li>
                    <li class=""><a href="#">
                            <!-- <i class=" fa fa-percent ps-1"></i> -->
                            <img src="assets/images/nav icons/offs.png" loading="lazy"  alt="">
                            تخفیف‌ها و پیشنهادها
                        </a>
                    </li>
                    <li class=""><a href="#">
                            <!-- <i class=" fas fa-award ps-1"></i> -->
                            <img src="assets/images/nav icons/mydiji.png" loading="lazy"  alt="">
                            دیجی کالای من
                        </a>
                    </li>
                    <li class=""><a href="#">
                            <!-- <i class=" fas fa-bullhorn  ps-1" style="color: rgb(184, 47, 161);"></i> -->
                            <img src="assets/images/nav icons/dijiplus.png" loading="lazy"  alt="">
                            دیجی پلاس
                        </a>
                    </li>
                    <li class=""><a href="#">
                            <!-- <i class=" fas fa-globe  ps-1"></i> -->
                            <img src="assets/images/nav icons/club.png" loading="lazy"  alt="">
                            دیجی کلاب
                        </a>
                    </li>
                    <li class=""><a href="#">
                            <!-- <i class=" fa fa-paypal ps-1 " style="color: blue;"></i> -->
                            <img src="assets/images/nav icons/pay.png" loading="lazy"  alt="">
                            دیجی
                            پی
                        </a>
                    </li>
                    <li class=""><a href="#">
                            <!-- <i class=" fa fa-question-circle ps-1"></i> -->
                            سوالی دارید؟
                        </a></li>
                    <li class=""><a href="#">
                            <!-- <i class=" fa fa-handshake-o ps-1"></i> -->
                            فروشنده شوید
                        </a></li>
                </ul>
            </div>
            <div class="location col-3">
                <a href="" class="d-flex flex-row  align-items-center justify-content-end ">
                    <span class=" ">لطفا شهر و استان خود را انتخاب کنید</span>
                    <img src="assets/images/location.png" class="px-2 pb-2" alt="location-icon"></a>
            </div>
        </div>
    </div>
</nav>