	<!-- =========================== four-advertise======================= -->
    <aside class="ads-off p-3">
        <div class="row  d-flex flex-row justify-content-center align-items-center">
            <div class="col-lg-3 col-6 mb-3 "><a href=""><img src="assets/images/off1.jpg"
                        class="img-fluid rounded-16" loading="lazy" title="پرسیل"  alt="پرسیل"></a></div>
            <div class="col-lg-3 col-6 mb-3 "><a href=""><img src="assets/images/off2.jpg"
                        class="img-fluid rounded-16" loading="lazy" title="ایزی دو"  alt="ایزی دو"></a></div>
            <div class="col-lg-3 col-6 mb-3"><a href=""><img src="assets/images/off3.jpg"
                        class="img-fluid  rounded-16"  loading="lazy" title="زیور آلات" alt="زیور آلات"></a></div>
            <div class="col-lg-3 col-6 mb-3"><a href=""><img src="assets/images/off4.jpg"
                        class="img-fluid rounded-16" loading="lazy" title="کوپا" alt="کوپا"></a></div>
        </div>
    </aside>