	<!-- ===============two-advertise===================================== -->
    <aside class=" px-3 pt-1">
       <!-- <div class="container-fluid"> -->
        <div class="row d-flex ">
            <div class="col-lg-6  mb-3">
                <img src="assets/images/Ad_1.jpg" class="img-fluid rounded-16" alt=" دیسترو" title="پارتنرشیپ - دیسترو">
            </div>
            <div class="col-lg-6 ">
                <img src="assets/images/Ad_2.jpg" class="img-fluid rounded-16" alt="پارت شاپ" title="پارتنرشیپ- پارت شاپ">
            </div>
        </div>
       <!-- </div> -->
    </aside>