<app-gif-banner></app-gif-banner>
<app-slider></app-slider>
<app-amazing-offer></app-amazing-offer>
<app-four-advertise></app-four-advertise>
<app-amazing-offer></app-amazing-offer>
<app-two-advertise></app-two-advertise>
<div class="row gx-0">
    <div class="col-lg-10">
        <!-- <app-base-visits  [mountaineering-accessories]="mountaineering-accessories"></app-base-visits> -->
        <app-base-visits></app-base-visits>
    </div>
    <div class="col-lg-2 d-none d-lg-block">
        <app-instant-suggestions></app-instant-suggestions>
    </div>
</div>
<app-more-categoty class="d-none d-lg-block"></app-more-categoty>
<div class="row gx-0 p-3">
    <div class="col-lg-3 d-none d-lg-block">
        <app-personalization></app-personalization>
    </div>
    <div class="col-lg-9 ">
        <!-- <app-base-visits [ bag-and-phone] = "bag-phone"></app-base-visits > -->
        <app-base-visits></app-base-visits>
    </div>
</div>
<app-four-advertise></app-four-advertise>
<!-- <app-base-visits [handsfree]="handsfree"></app-base-visits> -->
<app-base-visits></app-base-visits>
<!-- <app-base-visits [laptos]=laptops></app-base-visits> -->
<app-base-visits></app-base-visits>
<app-two-advertise></app-two-advertise>
<!-- <app-base-visits [popular]="popular"></app-base-visits> -->
<app-base-visits></app-base-visits>
<app-brands></app-brands>
<app-ad-banner></app-ad-banner>
<!-- <app-base-visits [auction]="auction"></app-base-visits> -->
<app-base-visits></app-base-visits>